{% extends "home.html"%}

{% block content_area %}
	<div class="coding">
			<h2 class="text_header"> Coding </h2>
		<div class="span6">

			<ul class="language_list">
				<li class="nav-header"> Languages </li>
				<li> Python </li>
				<li> C / C++ </li>
				<li> Javascript </li>
				<li> HTML5 </li>
				<li> CSS3 </li>
				<li> Objective C </li>
				<li> Lisp </li>
			</ul>
		</div>
			<ul class="library_list">
				<li class="nav-header"> Libraries </li>
					<li> CLIPS Pattern </li>
					<li> Tweepy </li>
					<li> Beautiful Soup 4 / Mechanize</li>
					<li> NetworkX </li>
					<li> Matplot Lib </li>
					<li> JQuery </li>
					<li> D3 Plot </li>
					<li> Twitter Bootstrap </li>


			</ul>
			
	</div>
{% endblock %}