{% extends "home.html"%}

{% block content_area %}
		<div class="research areas">
				<h2 class="text_header"> I'm interested in </h2>
				<ul class="research_list">
					<li> Machine Learning  / Artificial Intelligence</li>
					<li> Extracting useful things out of big new datasets </li>
					<li> Sentiment analysis in Social Media </li>
					<li> Developing web applications</li>
					<li> Intelligent / simple  interface design </li>
					<li> Using programming to explore other interests such as sports and music </li>
					<li> Writing clean, scalable, efficent code </li>
				<ul>
		</div>
{% endblock %}